# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example
nvlam_iam_user_accessKeys.csv

# =========================
# Build output
# =========================
dist/
build/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS / IDE junk
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml

# =========================
# Coverage
# =========================
coverage/
